*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* background: linear-gradient(240deg, #56d8e4 30%, #9f01ea 90%); */
    
}
body{
   background-color: beige;
}
 
    /* background-color:beige; */
    /* background: linear-gradient(to right, sky rgb(131, 131, 231), rgb(218, 137, 218)); */
    
 

/* 
.header h1{ 
   background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); 
   color: white; 
    background:linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea); 
}  */

#main .page{
    width: 50%;
    margin-top: 100px;
    margin-left: 13%;
    background-color: white;
    padding: 20px 50px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px black;
    border: 10px;
    text-align: center;
 

   }


#main .page .name .username{
   width: 100%;
   padding:10px 10px;
   margin-right: 100px;
   margin-bottom: 10px;
}

#main .page .contact .contact{
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
 }


 #main .page .mail .mail{
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
 }

  
 #main .page .select .option {
   width: 112%;
   padding:10px;
   margin-bottom: 10px;

}

 #main .page .password .password{
    width: 100%;
    padding:10px;
    margin-bottom: 10px;
 }
/* 
 #main .page .confirm .confirmpassword{
    width: 61%;
    padding:10px;
    margin-bottom: 10px;
 } */

 
 #main .page .sub #submit{
    width: 50%;
    padding:10px;
    color: white;
    background-color:beige;
 }

