* {
   box-sizing: border-box;
   font-family: Arial, sans-serif;
 }
 
 body {
   background-color:white;
   margin: 0;
   padding: 0;
 }
 
 #main .page {
   width: 80%;
   margin: 100px auto;
   background-color:white;
   padding: 20px 50px;
   border-radius: 7px;
   box-shadow: 2px 2px 2px 2px #ccc;
   text-align: center;
 }
 
 #main .page .header h1 {
   color: #000;
 }
 
 #main .page input[type="text"],
 #main .page input[type="password"],
 #main .page select {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
 }
 
 #main .page #submit {
   width: 100%;
   padding: 10px;
   color: white;
   background-color: #007bff;
   border: none;
   border-radius: 5px;
   box-shadow: 2px 2px 2px 1px #ccc;
 }
 
 @media screen and (min-width: 768px) {
   #main .page {
     width: 50%;
     margin-left: 25%;
   }
 }
 button.disabled {
   opacity: 0.5;
 } 