


body{
    background-color:white;
    font-family: 'Roboto', sans-serif;
}

#quebox{
    font-size: 20px;
}


.main{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
    flex-direction: column;
}


#inner{
    height: 45vh;
    width: 70%;
    margin: 0% 0% 20% 0%;
    border-radius: 2%;
    box-shadow: 0px 0px 5px black;
    background-color:white;
    padding: 10% 10% 20% 5%;
}


.main #inner .first{
    width: 100%;
    margin: 2rem;
    margin-left: 0;

}
.main #inner .pbtn{
    display: flex;
    gap: 20%;
    justify-content: center;
}



.main #inner #btn{
    width: 100%;
    padding: 5px;
    background-color: #007bff;
    border-radius: 5px;
    border-color:black;
    font-size: 20px;
    color:black;
    
}


.main #timer{
    background-color: white;
    width: 35%;
    text-align: center;
    margin-left:160px;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0px 0px 5px black;
    height: 30px;
    font-size: 30px;
    padding: 0px 10px;
} 
#btnPrevious{
    display: none;
    width: 100%;
    padding: 5px;
    background-color: #007bff;
    border-radius: 5px;
    border-color:black;
    font-size: 20px;
    color:black;
}
